---
import Column from "@withstudiocms/lcars-stylus/astro/components/Column.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Audio" pageKey="audio"
    ><Column u={7}>
        <h1 id="audio_section">Audio</h1>

        <span>Class: <pre class="lcars-dodger-blue-color">button</pre></span>
        <p>
            The button class will also automatically receive a sound-effect
            event if you include the following at the bottom of the page:
            <ul>
                <li>
                    special dummy audio element for automatic file format
                    support detection
                </li>
                <li>js/lcars_audio.js script reference</li>
            </ul>
            <pre
                class="lcars-dodger-blue-color">
  &lt;audio id="audDummy"/&gt;&lt;!--Just leave this here, just needed to enable automatic query canplay in the initialization code to load compatible media types --&gt;
  &lt;script src="js/lcars_audio.js"&gt;&lt;/script&gt;
					</pre>
        </p>
        <p>
            To arbitrarily assign sound effects, use your preferred element
            selector method and call these simple functions from the lcarsAudio
            javascript module as the callback event handler:
            <pre
                class="lcars-dodger-blue-color">
  lcarsAudio.TactileInputAcknowledge();
  lcarsAudio.TactileInputNegativeAcknowledge();
  lcarsAudio.Alert();
					</pre>
            For quick and dirty specific assignments, you can also just assign the
            funcation call directly to the onClick attribute of any html element like
            so:
            <pre
                class="lcars-dodger-blue-color">
  &lt;dev id="special_button" onclick="lcarsAduio.TactileInputAcknowledge();"&gt;SP BTN&lt;/div&gt;
					</pre>

            <h3>Example</h3>
            <p>
                By onclick attribute:
                <div
                    id="special_button"
                    class="lcars-element rounded"
                    onclick="lcarsAudio.TactileInputAcknowledge();"
                >
                    SP BTN
                </div>
                <div
                    id="disabled_button"
                    class="lcars-element lcars-gray-bg rounded"
                    onclick="lcarsAudio.TactileInputNegativeAcknowledge();"
                >
                    INACTV
                </div>
            </p>
            <p>
                And again, by CSS class instead:
                <div id="special_button2" class="lcars-element rounded button">
                    SP BTN
                </div>
                <div
                    id="another_disabled_button"
                    class="lcars-element lcars-gray-bg rounded lcars-tactinput-neg-acknowledge-audio"
                >
                    DISABLD
                </div>
            </p>
        </p>
        <p>
            LCARS clearly has a "grammar" for the audio signals. As with any
            fictional canon, there will be contradictions, gaps, and incorrect
            assumptions on the part of amateurs. Hopefully users will find the
            audio framework easily modifiable to suit, but also fairly usable as
            is.
        </p>
        <p>
            A couple of simple place-holder sound effects are included for
            demonstration purposes, but to gain the full benefit of an authentic
            sounding LCARS interface, audio samples that match each of the
            semantic descriptions could be downloaded from elsewhere on the web
            (<a href="http://www.stdimension.org/int/index.htm"
                >STdimension media library</a
            > is an excellent resource) and renamed to match the Audio Filename Base
            column shown below, then transcoded to other audio file formats to provide
            mult-platform support (i.e., the major browser vendors do not all agree
            on what audio file formats should be supported by web browsers, but html5
            standards provide fall-back mechanisms to help overcome this). A trinity
            of m4a/aac, ogg/vorbis, and webm seems to give excellent platform coverage
            and should be handled by ffmpeg nicely.
        </p>
        <p>
            <table
                id="audio_class_summary"
                class="lcars-periwinkle-color scanning lcars-u-8"
            >
                <thead>
                    <tr
                        ><th>JS lcarsAudio Module Play Function</th>
                        <th>Element Subclass</th>
                        <th>Audio Filename Base</th>
                        <th>Semantic Description</th>
                        <thead>
                            <tbody>
                                <tr>
                                    <td
                                        onclick="lcarsAudio.TactileInputAcknowledge();"
                                        >TactileInputAcknowledge()</td
                                    >
                                    <td
                                        >lcars-tactinput-acknowledge-audio (or
                                        button)</td
                                    >
                                    <td>tactinput_acknowledge</td>
                                    <td title="[beep]"
                                        >Smallest unit of input acknowledgement,
                                        a single "keypress" received and
                                        understood. the Basic Button Beep.</td
                                    >
                                </tr>
                                <tr>
                                    <td
                                        onclick="lcarsAudio.TactileInputAlternateAcknowledge();"
                                        >TactileInputAlternateAcknowledge()</td
                                    >
                                    <td
                                        >lcars-tactinput-alt-acknowledge-audio</td
                                    >
                                    <td>tactinput_alt_acknowledge</td>
                                    <td
                                        >Input "punctuation", delimitation, or
                                        compositing/packaging of input
                                        acknowledgement. Perhaps analagous to
                                        the "hitting the enter key". Basic
                                        Button Beep 2, alternate (lower) tone.</td
                                    >
                                </tr>
                                <tr>
                                    <td
                                        onclick="lcarsAudio.TactileInputNegativeAcknowledge();"
                                        >TactileInputNegativeAcknowledge()</td
                                    >
                                    <td
                                        >lcars-tactinput-neg-acknowledge-audio</td
                                    >
                                    <td>tactinput_neg_acknowledge</td>
                                    <td title="[tinkTinkTink]"
                                        >Keypress failure/low-level access
                                        denied/nonresponse. The antithesis to
                                        Ack.</td
                                    >
                                </tr>
                                <tr>
                                    <td onclick="lcarsAudio.Alert();"
                                        >Alert()</td
                                    >
                                    <td>lcars-alert-audio</td>
                                    <td>alert</td>
                                    <td title="[TeeErrErrr]"
                                        >Hard failure/access denied/warning
                                        level 1. Distinct from RedAlert.</td
                                    >
                                </tr>
                                <tr>
                                    <td onclick="lcarsAudio.RedAlert();"
                                        >RedAlert()</td
                                    >
                                    <td>lcars-red-alert-audio</td>
                                    <td>red_alert</td>
                                    <td title="[rrRRRTrrRRRT]"
                                        >Emergency condition, highest level of
                                        alert.</td
                                    >
                                </tr>
                                <tr>
                                    <td onclick="lcarsAudio.Ready();"
                                        >Ready()</td
                                    >
                                    <td>lcars-ready-audio</td>
                                    <td>ready</td>
                                    <td
                                        >Interface initialized, ready for input
                                        from user.</td
                                    >
                                </tr>
                            </tbody>
                        </thead>
                    </tr>
                </thead>
            </table>
        </p>
    </Column></Layout
>
