---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bar" pageKey="bar"
    ><div class="lcars-column lcars-u-7">
        <h1 id="bar_section">Bar</h1>

        <span>Class: <pre class="lcars-dodger-blue-color">lcars-bar</pre></span>
        <p>
            <a
                >Used to fill spaces and to create top or bottom horizontal
                bars.</a
            >

            <ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">spacer</pre>: sets the
                        width and height to base-spacing and background
                        transparent. Use to create custom spacing eg between
                        bars</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">double-spacer</pre>:
                        sames as spacer, but double the size</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">left-space</pre>: add
                        extra margin of base spacing to the left</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">left-double-space</pre>:
                        add extra margin of double the base spacing to the left</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">right-space</pre>: add
                        extra margin of base spacing to the right</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">right-double-space</pre>:
                        add extra margin of double the base spacing to the right</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">horizontal</pre>: set the
                        height to 1/3 of unitsize. Use it as top or bottom bars
                        and with elbows.</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">left-end</pre>: sets the
                        height and the width to 1/3 of the unit height and
                        rounds the left edges. Use ate the edges of horizontal
                        bars.</span
                    >
                    <ul>
                        <li>
                            <span
                                ><pre class="lcars-rust-color">decorated</pre>:
                                adds a decorative stripe.</span
                            >
                        </li>
                    </ul>
                </li>
                <span
                    ><pre class="lcars-rust-color">right-end</pre>: sets the
                    height and the width to 1/3 of the unit height and rounds
                    the left right. Use ate the edges of horizontal bars.</span
                >
                <ul>
                    <li>
                        <span
                            ><pre class="lcars-rust-color">decorated</pre>: adds
                            a decorative stripe.</span
                        >
                    </li>
                </ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">fill</pre>: fill
                        available space in column or row</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">bottom</pre>: align self
                        to the bottom</span
                    >
                </li>
            </ul>
        </p>

        <span
            >Class: <pre class="lcars-dodger-blue-color">lcars-title</pre></span
        >
        <p>
            <a>A title to use within a horizontal bar.</a>

            <ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">right</pre>: align self
                        to the right.</span
                    >
                </li>
            </ul>
        </p>
    </div></Layout
>
