---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colors" pageKey="colors"
    ><div class="lcars-column lcars-u-7">
        <h1 id="colors_section">Colors</h1>

        Colors can be set by adding the classes:
        <p>
            <li>
                <pre
                    class="lcars-dodger-blue-color">lcars-COLORNAME-color</pre>:
                Sets the text color to COLORNAME
            </li>
            <li>
                <pre class="lcars-dodger-blue-color">lcars-COLORNAME-bg</pre>:
                Sets the background color to COLORNAME
            </li>
        </p>

        <a>These are the available colors:</a>

        <p>
            <div class="lcars-row">
                <div class="lcars-column">
                    <div class="lcars-element lcars-pale-canary-bg">
                        <span class="text">pale-canary</span>
                    </div>
                    <div class="lcars-element lcars-golden-tanoi-bg">
                        <span class="text">golden-tanoi</span>
                    </div>
                    <div class="lcars-element lcars-neon-carrot-bg">
                        <span class="text">neon-carrot</span>
                    </div>
                    <div class="lcars-element lcars-eggplant-bg">
                        <span class="text">eggplant</span>
                    </div>
                    <div class="lcars-element lcars-anakiwa-bg">
                        <span class="text">anakiwa</span>
                    </div>
                    <div class="lcars-element lcars-mariner-bg">
                        <span class="text">mariner</span>
                    </div>
                    <div class="lcars-element lcars-bahama-blue-bg">
                        <span class="text">bahama-blue</span>
                    </div>
                    <div class="lcars-element lcars-red-alert-bg">
                        <span class="text">red-alert</span>
                    </div>
                    <div class="lcars-element lcars-white-bg">
                        <span class="text">white</span>
                    </div>
                </div>

                <div class="lcars-column">
                    <div class="lcars-element lcars-blue-bell-bg">
                        <span class="text">blue-bell</span>
                    </div>
                    <div class="lcars-element lcars-melrose-bg">
                        <span class="text">melrose</span>
                    </div>
                    <div class="lcars-element lcars-lilac-bg">
                        <span class="text">lilac</span>
                    </div>
                    <div class="lcars-element lcars-hopbush-bg">
                        <span class="text">hopbush</span>
                    </div>
                    <div class="lcars-element lcars-chestnut-rose-bg">
                        <span class="text">chestnut-rose</span>
                    </div>
                    <div class="lcars-element lcars-orange-peel-bg">
                        <span class="text">orange-peel</span>
                    </div>
                    <div class="lcars-element lcars-atomic-tangerine-bg">
                        <span class="text">atomic-tangerine</span>
                    </div>
                    <div class="lcars-element lcars-gray-bg">
                        <span class="text">gray</span>
                    </div>
                </div>

                <div class="lcars-column">
                    <div class="lcars-element lcars-danub-bg">
                        <span class="text">danub</span>
                    </div>
                    <div class="lcars-element lcars-indigo-bg">
                        <span class="text">indigo</span>
                    </div>
                    <div class="lcars-element lcars-lavender-purple-bg">
                        <span class="text">lavender-purple</span>
                    </div>
                    <div class="lcars-element lcars-cosmic-bg">
                        <span class="text">cosmic</span>
                    </div>
                    <div class="lcars-element lcars-red-damask-bg">
                        <span class="text">red-damask</span>
                    </div>
                    <div class="lcars-element lcars-medium-carmine-bg">
                        <span class="text">medium-carmine</span>
                    </div>
                    <div class="lcars-element lcars-bourbon-bg">
                        <span class="text">bourbon</span>
                    </div>
                    <div class="lcars-element lcars-sandy-brown-bg">
                        <span class="text">sandy-brown</span>
                    </div>
                </div>

                <div class="lcars-column">
                    <div class="lcars-element lcars-periwinkle-bg">
                        <span class="text">periwinkle</span>
                    </div>
                    <div class="lcars-element lcars-dodger-blue-bg">
                        <span class="text">dodger-blue</span>
                    </div>
                    <div class="lcars-element lcars-dodger-blue-alt-bg">
                        <span class="text">dodger-blue-alt</span>
                    </div>
                    <div class="lcars-element lcars-blue-bg">
                        <span class="text">blue</span>
                    </div>
                    <div class="lcars-element lcars-navy-blue-bg">
                        <span class="text">navy-blue</span>
                    </div>
                    <div class="lcars-element lcars-husk-bg">
                        <span class="text">husk</span>
                    </div>
                    <div class="lcars-element lcars-rust-bg">
                        <span class="text">rust</span>
                    </div>
                    <div class="lcars-element lcars-tamarillo-bg">
                        <span class="text">tamarillo</span>
                    </div>
                </div>
            </div>
        </p>

        <!-- HYPERLINKS -->
        <h2 id="hyperlinks_section">Hyperlinks</h2>

        <span
            >Class: <pre
                class="lcars-dodger-blue-color">:link :hover :focus :active :visited </pre>
            (but note that these are pseudo-classes, automatically applied by the
            web browser)</span
        >
        <p>
            <a href="#">Hyperlinks are highlighted</a> with an energetic color, and
            not bluish.
            <a>Hyperlinks without an href attribute</a> are a little different: they
            will highlight only when you hover. Emphasis but subtlety.
        </p>
    </div></Layout
>
