---
import Divider from "../components/Divider.astro";
import Layout from "../layouts/Layout.astro";
import LElement from "../components/LElement.astro";
import Row from "../components/Row.astro";
import Column from "../components/Column.astro";
---

<Layout title="Colors" pageKey="colors"
    ><Column u={7}>
        <h1 id="colors_section">Colors</h1>

        <Divider color="dodger-blue" />

        Colors can be set by adding the classes:
        <p>
            <li>
                <pre
                    class="lcars-dodger-blue-color">lcars-COLORNAME-color</pre>:
                Sets the text color to COLORNAME
            </li>
            <li>
                <pre class="lcars-dodger-blue-color">lcars-COLORNAME-bg</pre>:
                Sets the background color to COLORNAME
            </li>
        </p>

        <a>These are the available colors:</a>

        <Row>
            <Column>
                <LElement color="pale-canary">pale-canary</LElement>
                <LElement color="golden-tanoi">golden-tanoi</LElement>
                <LElement color="neon-carrot">neon-carrot</LElement>
                <LElement color="eggplant">eggplant</LElement>
                <LElement color="anakiwa">anakiwa</LElement>
                <LElement color="mariner">mariner</LElement>
                <LElement color="bahama-blue">bahama-blue</LElement>
                <LElement color="red-alert">red-alert</LElement>
                <LElement color="white">white</LElement>
            </Column>

            <Column>
                <LElement color="blue-bell">blue-bell</LElement>
                <LElement color="melrose">melrose</LElement>
                <LElement color="lilac">lilac</LElement>
                <LElement color="hopbush">hopbush</LElement>
                <LElement color="chestnut-rose">chestnut-rose</LElement>
                <LElement color="orange-peel">orange-peel</LElement>
                <LElement color="atomic-tangerine">atomic-tangerine</LElement>
                <LElement color="gray">gray</LElement>
            </Column>

            <Column>
                <LElement color="danub">danub</LElement>
                <LElement color="indigo">indigo</LElement>
                <LElement color="lavender-purple">lavender-purple</LElement>
                <LElement color="cosmic">cosmic</LElement>
                <LElement color="red-damask">red-damask</LElement>
                <LElement color="medium-carmine">medium-carmine</LElement>
                <LElement color="bourbon">bourbon</LElement>
                <LElement color="sandy-brown">sandy-brown</LElement>
            </Column>

            <Column>
                <LElement color="periwinkle">periwinkle</LElement>
                <LElement color="dodger-blue">dodger-blue</LElement>
                <LElement color="dodger-blue-alt">dodger-blue-alt</LElement>
                <LElement color="blue">blue</LElement>
                <LElement color="navy-blue">navy-blue</LElement>
                <LElement color="husk">husk</LElement>
                <LElement color="rust">rust</LElement>
                <LElement color="tamarillo">tamarillo</LElement>
            </Column>
        </Row>

        <!-- HYPERLINKS -->
        <h2 id="hyperlinks_section">Hyperlinks</h2>

        <span
            >Class: <pre
                class="lcars-dodger-blue-color">:link :hover :focus :active :visited </pre>
            (but note that these are pseudo-classes, automatically applied by the
            web browser)</span
        >
        <p>
            <a href="#">Hyperlinks are highlighted</a> with an energetic color, and
            not bluish.
            <a>Hyperlinks without an href attribute</a> are a little different: they
            will highlight only when you hover. Emphasis but subtlety.
        </p>
    </Column></Layout
>
