---
import Column from "@withstudiocms/lcars-stylus/astro/components/Column.astro";
import DataTable from "@withstudiocms/lcars-stylus/astro/components/DataTable.astro";
import Divider from "@withstudiocms/lcars-stylus/astro/components/Divider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Data Tables" pageKey="data-tables"
    ><Column u={7}>
        <h1 id="table_section">Table</h1>

        <Divider color="dodger-blue" />

        <span
            >Class: <pre class="lcars-dodger-blue-color">lcars-table</pre></span
        >
        <p>
            Simple, two-dimensional tabularly structured data display.
            <ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">standard-header</pre>:
                        Underlined and bold header row. Requires thead and tbody
                        tags in table tag structure.</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">scanning</pre>: apply a
                        simple cycling animation, highlighting row-by-row. This
                        will not be noticeable if you select white text color.</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">scanning-fast</pre>:
                        apply a simple cycling animation, highlighting
                        row-by-row, at a faster tempo. This will not be
                        noticeable if you select white text color.</span
                    >
                </li>
            </ul>
        </p>

        <h3>Example</h3>

        <p>
            <DataTable color="periwinkle" standardHeader>
                <!-- Note that for the standard-header class to function completely, 
	     					the thead/tbody pairing is *required*. 
					-->
                <thead>
                    <tr><th>ONE</th><th>TWO</th><th>THREE</th></tr>
                </thead>
                <tbody>
                    <tr><td>A1</td><td>A2</td><td>A3</td></tr>
                    <tr><td>B1</td><td>B2</td><td>B3</td></tr>
                    <tr><td>C1</td><td>C2</td><td>C3</td></tr>
                </tbody>
            </DataTable>
        </p>
        <p>
            <DataTable scanningFast color="husk">
                <tr><td>A1</td><td>A2</td><td>A3</td></tr>
                <tr><td>B1</td><td>B2</td><td>B3</td></tr>
                <tr><td>C1</td><td>C2</td><td>C3</td></tr>
                <tr><td>D1</td><td>D2</td><td>D3</td></tr>
                <tr><td>E1</td><td>E2</td><td>E3</td></tr>
                <tr><td>F1</td><td>F2</td><td>F3</td></tr>
            </DataTable>
        </p>
        <p>
            <DataTable
                scanning
                color="chestnut-rose"
                caption="TABLE 3"
                captionPosition="right"
            >
                <tr><td>ALPHA1</td><td>ALPHA2</td><td>ALPHA3</td></tr>
                <tr><td>BETA01</td><td>BET0A2</td><td>BETA03</td></tr>
                <tr><td>GAMMA1</td><td>GAMMA2</td><td>GAMMA3</td></tr>
                <tr><td>DELTA1</td><td>DELTA2</td><td>DELTA3</td></tr>
                <tr><td>EPSLN1</td><td>EPSLN2</td><td>EPSLN3</td></tr>
                <tr><td>ZETA01</td><td>ZETA02</td><td>ZETA03</td></tr>
            </DataTable>
        </p>
        <p>
            <DataTable color="bourbon" caption="TABLE 4" captionPosition="left">
                <tr><td>ALPHA1</td><td>ALPHA2</td><td>ALPHA3</td></tr>
                <tr><td>BETA01</td><td>BET0A2</td><td>BETA03</td></tr>
                <tr><td>GAMMA1</td><td>GAMMA2</td><td>GAMMA3</td></tr>
                <tr><td>DELTA1</td><td>DELTA2</td><td>DELTA3</td></tr>
                <tr><td>EPSLN1</td><td>EPSLN2</td><td>EPSLN3</td></tr>
                <tr><td>ZETA01</td><td>ZETA02</td><td>ZETA03</td></tr>
            </DataTable>
        </p>
    </Column></Layout
>
