---
import Column from "@withstudiocms/lcars-stylus/astro/components/Column.astro";
import Divider from "@withstudiocms/lcars-stylus/astro/components/Divider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inputs" pageKey="inputs"
    ><Column u={7}>
        <h1 id="inputs_section">Inputs</h1>

        <Divider color="dodger-blue" />

        <p>
            Basic input controls other than buttons. Text inputs and range
            (slider) inputs, for example.
        </p>
        <p>
            Note that these elements are somewhat outside of the atested UI
            elements. As far as arbitrary, free-form input, we can observe voice
            input, but we can only infer manual arbitrary input via stylus or
            some kind of configurable, temporarily displayed full alphanumeric
            tactile "keyboard". Nonetheless, here we have more reasonable
            defaults (than regular raw browswer defaults) to blend in a little
            better, should you need them. Beware though that it will be and will
            seem a bit inauthentic.
        </p>

        <h3>Text</h3>
        <span
            >Class: <pre
                class="lcars-dodger-blue-color">lcars-text-input</pre></span
        >
        <p>
            <span
                >A single-line text box and a multi-line text area that users
                may type into.</span
            >
            <ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">decorated</pre>: add
                        simple right and left borders to indicate text input
                        area boundaries.</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">left-rounded</pre>:
                        rounds the left edge</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">right-rounded</pre>:
                        rounds the right edge</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">rounded</pre>: rounds the
                        all edges</span
                    >
                </li>
            </ul>
        </p>
        <h4>Example</h4>
        <p>
            Single-line
            <input
                id="username1"
                class="lcars-text-input decorated lcars-husk-color"
            />
        </p>
        <p>
            <input
                id="username2"
                class="lcars-text-input decorated rounded lcars-lilac-color"
            />
        </p>
        <p>Multi-line basic</p>
        <p>
            <textarea id="description" class="lcars-text-box lcars-u-4"
                >INITIAL DATA
            </textarea>
        </p>
        <p>Multi-line with more decoration</p>
        <p>
            Somewhat more complicated here; the width has to be specified at a
            higher position in the DOM tree, and then the height has to be
            specified at the textrea element itself. Also recommended: setting
            the min-height and max-height properties to avoid bad reflows or
            overlapping during resizing.
        </p>
        <p>
            <div class="lcars-row">
                <div class="lcars-bracket left hollow"></div>
                <div class="lcars-column lcars-u-5">
                    <!-- style="width:85%;" also worked pretty well, but lcars-u-X grid classes are preferred. -->
                    <!--
							<div class="lcars-element">
							</div>
							-->
                    <!-- and you may just might want a small negative margin-top on this, like -.25em; to get things nice and square.-->
                    <input
                        id="entry_index"
                        class="lcars-text-input"
                        value="L0:SD:31415.92"
                    />
                    <textarea
                        id="log_text"
                        class="lcars-text-input"
                        style="min-height:4em; height:14em; max-height: 30em; width:100%;"
                        >CAPTAIN'S LOG, SUPPLEMENTAL. STARDATE 31415.92 ALL
                        FRONTIERS ARE FINAL, AND ALL THE BOLD GOINGS ARE INDEED
                        GOING ON. WE HOPE FOR ALL THAT LIFE WILL BE LONG AND
                        PROSPERITY WILL ABOUND. CREW IS SHIP-SHAPE. IS THERE
                        ANYWHERE WE'VE NEVER GONE BEFORE? SURELY IT IS SO,
                        SURELY WE WILL GO TO FIND THAT WHICH HAS NEVER BEEN
                        OBSERVED BY OUR KIND IN A PRIOR EPOCH. HERE WE SEE
                        JUSTIFIED TEXT, PER PARAGRAPH, AND NEWLINE CHARACTERS
                        (IN THE SOURCE) ARE RESPECTED.
                    </textarea>
                </div>
            </div>
        </p>

        <h3>Range</h3>
        <span
            >Class: <pre
                class="lcars-dodger-blue-color">lcars-range-input</pre></span
        >

        <p>
            <span
                >Range inputs might also be called "slider bars". Note that
                these have some added complexity including multiple html
                elements inside a form element and some behavior-driving
                JavaScript, though this appears to be <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range"
                    >standard html5</a
                >.</span
            >
        </p>
        <h4>Example</h4>
        <p>
            <form oninput="emitterFreqdisp.value=emitterFrequency.value">
                <label for="emitterFreq">EMITTER FREQUENCY </label>
                <input
                    type="range"
                    name="emitterFreq"
                    id="emitterFrequency"
                    min="50000"
                    max="500000"
                    step="100"
                    value="250000"
                />
                <output
                    class="lcars-slider-output"
                    for="emitterFreq"
                    id="emitterFreqdisp">0</output
                >THz
            </form>
        </p>
        <p>
            <form oninput="emitterPowerDisp.value=emitterPwr.value">
                <div class="lcars-column">
                    <div class="lcars-row">
                        <div class="lcars-element lcars-u-2-1">EMITTER</div>
                        <div
                            class="lcars-element lcars-u-2-1 lcars-pale-canary-bg"
                        >
                            <div>POWER</div>
                            <!-- the span helps to prevent the output from insisting on block dipslay (rather than preferred inline display) -->
                            <div class="lcars-element-addition">
                                <span
                                    ><output
                                        class="lcars-slider-output"
                                        for="emitterPower"
                                        id="emitterPowerDisp">0</output
                                    >MJ</span
                                >
                                <input
                                    type="range"
                                    name="emitterPower"
                                    id="emitterPwr"
                                    min="1"
                                    max="10"
                                    step="1"
                                    value="3"
                                    style="width:100%"
                                    class="XXlcars-pale-canary-color"
                                />
                                <!--sometimes looks nice with width:100% -->
                            </div>
                        </div>
                        <div class="lcars-element right-rounded">002</div>
                    </div>
                </div>
            </form>
        </p>
    </Column></Layout
>
