---
import Column from "../components/Column.astro";
import Divider from "../components/Divider.astro";
import LElement from "../components/LElement.astro";
import Row from "../components/Row.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Layouts" pageKey="layouts">
	<Column u={7}>
		<h1>Layouts</h1>

		<Divider color="dodger-blue" />

		<p>
			<a
				>LCARS has a powerful and flexible layout system based on CSS
				flexbox. The main layout elements are rows and columns, which
				can be nested to create complex layouts.</a
			>
		</p>

		<h2>Rows</h2>

		<span>Class: <pre class="lcars-dodger-blue-color">lcars-row</pre></span>
		<p>
			<a>Creates a row layout.</a>

			<ul>
				<li>
					<span
						><pre class="lcars-rust-color">fill</pre>: fill
						available space in column or row</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">centered</pre>: center
						content horizontally</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">full-centered</pre>:
						center content horizontally and vertically</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">right</pre>: align
						content to the right</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">right-centered</pre>:
						align content to the right and center vertically</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">right-bottom</pre>: align
						content to the bottom and to the right</span
					>
				</li>
			</ul>
		</p>

		<h2>Columns</h2>

		<span
			>Class: <pre
				class="lcars-dodger-blue-color">lcars-column</pre></span
		>
		<p>
			<a>Creates a column layout.</a>

			<ul>
				<li>
					<span
						><pre class="lcars-rust-color">fill</pre>: fill
						available space in column or row</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">centered</pre>: center
						content vertically</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">full-centered</pre>:
						center content horizontally and vertically</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">centered-right</pre>:
						align content to the right and center vertically</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">bottom</pre>: align
						content to the bottom</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">bottom-centered</pre>:
						align content to the bottom and center horizontally</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">left-menu</pre>: add
						margin to right to align in left elbow</span
					>
				</li>
				<li>
					<span
						><pre class="lcars-rust-color">right-menu</pre>: add
						margin to left to align in right elbow</span
					>
				</li>
			</ul>
		</p>

		<!-- GRID -->
		<h2 id="grid_section">Grid</h2>

		<p>
			<a
				>LCARS has a strict grid layout system. Item sizes are set in
				multiples of unit size.</a
			>
			<ul>
				<li>
					The <pre class="lcars-dodger-blue-color">lcars-u-X</pre> class
					sets the width to X * unit width (X = 0..16)
				</li>
				<li>
					The <pre class="lcars-dodger-blue-color">lcars-vu-X</pre> class
					sets the height to X * unit height (X = 0..16)
				</li>
				<li>
					The <pre class="lcars-dodger-blue-color">lcars-u-X-Y</pre> class
					sets the width to X * unit width and the height to Y times the
					unit height (X,Y = 0..16)
				</li>
			</ul>
		</p>
		<Row>
			<!--Rows of columns work easily -->
			<Column>
				<LElement>U-1</LElement>
			</Column>
			<Column>
				<LElement>U-1</LElement>
			</Column>
			<Column>
				<LElement>U-1</LElement>
			</Column>
			<Column>
				<LElement>U-1</LElement>
			</Column>
		</Row>
		<Row>
			<!--Default unit multiple, if no class is specified, is 1-->
			<Column u={2}>
				<LElement>U-1</LElement>
			</Column>
			<Column u={2}>
				<LElement u={2}>U-2</LElement>
			</Column>
		</Row>
		<Row>
			<Column u={3}>
				<LElement u={3}>U-3</LElement>
			</Column>
			<Column u={1}>
				<LElement u={1}>U-1</LElement>
			</Column>
		</Row>
		<Row>
			<Column u={4}>
				<LElement u={4}>U-4</LElement>
			</Column>
		</Row>

		<Column u={2}>
			<!--However, columns of rows might not behave the way you would expect-->
			<Row u={1}>
				<LElement u={1}>U-1</LElement>
			</Row>
			<Row u={1}>
				<LElement u={1}>U-1</LElement>
			</Row>
		</Column>
		<Column u={2}>
			<Row>
				<LElement u={1}>U-1</LElement>
			</Row>
			<Row>
				<LElement u={1}>U-1</LElement>
			</Row>
		</Column>
		<Column>
			<!-- If grid size specification doesn't work as you expect, try moving the class deeper down-->
			<Row>
				<LElement u={2}>U-2</LElement>
			</Row>
			<Row>
				<LElement u={4}>U-4</LElement>
			</Row>
		</Column>
	</Column></Layout
>
