---
import Layout from "../layouts/Layout.astro";
import LCarsXyControlWidget from "../assets/lcars_xy_circle_widget_optimized.svg";
import LCarsXyControlWidgetWithClasses from "../assets/lcars_xy_circle_widget_optimized_and_classes.svg";
---

<Layout title="Custom SVGs" pageKey="svgs"
    ><div class="lcars-column lcars-u-7">
        <h1 id="svg_section">SVG Special Elements</h1>

        <p>
            Some particularly complex geometry such as the classic circular x/y
            control can be more easily achieved with special prepackaged SVG
            images. A limited number of particularly recognizable special
            elements are included. They are totally optional and may be deleted
            if your project will not utilize them.
        </p>
        <p>
            These special elements may be inserted with traditional <span
                class="lcars-dodger-blue-color">img</span
            > tags:

            <pre
                class="lcars-dodger-blue-color">
&lt;img id="xy_control_element" src="img/lcars_xy_circle_widget_optimized.svg" /&gt;
</pre>
            <LCarsXyControlWidget id="xy_control_element" />
        </p>
        <p></p>
        When using SVG files through img tags, CSS becomes less centralized. The SVG
        file will have to embed a copy of the CSS coloring class definitions directly
        into the SVG file source in under a style tag within a defs tag. View the
        source of img/lcars_xy_circle_widget_optimized_and_classes.svg for example.
        The set of color definitions are availble for easy copying in css/lcars.svg.colors.fragment.css
        <LCarsXyControlWidgetWithClasses
            id="xy_control_element_using_classes"
        />
        <p>
            Or, <a
                href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/SVG_In_HTML_Introduction"
                >Inline SVG</a
            > can be used for increased interactivity and customization within the
            element. SVG embedded like this can make use of standard element id and
            class attributes for css and DOM node selectors. This method is currently
            necessary for automatic audio support to apply to the SVG element.
        </p>
        <p>
            <!--  Fully inline svg style -->

            <!-- Created with Inkscape (http://www.inkscape.org/) -->
            <svg
                width="80mm"
                height="80mm"
                version="1.1"
                viewBox="0 0 80 80"
                xmlns="http://www.w3.org/2000/svg"
            >
                <metadata>
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                            ></dc:type>
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <path
                    id="xy_ctl_NE"
                    class="button lcars-husk-bg"
                    d="m47 33v-32.35c15.992 2.4474 29.977 16.417 32.424 32.35z"
                ></path>
                <path
                    id="xy_ctl_SW"
                    class="button lcars-husk-bg"
                    d="m33 47v32.35c-15.992-2.4474-29.977-16.417-32.424-32.35z"
                ></path>
                <path
                    id="xy_ctl_SE"
                    class="button lcars-husk-bg"
                    d="m47 47v32.35c15.992-2.4474 29.977-16.417 32.424-32.35z"
                ></path>
                <path
                    id="xy_ctl_up"
                    class="button lcars-golden-tanoi-bg"
                    d="m34 10h12v-9.5c-3.8785-0.47437-8.044-0.4824-12 0z"
                ></path>
                <path
                    d="m44.2 2.2v5.0271"
                    style="fill:none;stroke-width:1.2;stroke:#000000"></path>
                <path
                    id="xy_ctl_left"
                    class="button lcars-golden-tanoi-bg"
                    d="m10 46v-12h-9.5c-0.47437 3.8785-0.4824 8.044 0 12z"
                ></path>
                <path
                    d="m2.199 35.8h5.0271"
                    style="fill:none;opacity:.889;stroke-width:1.2;stroke:#000000"
                ></path>
                <path
                    id="xy_ctl_right"
                    class="button lcars-golden-tanoi-bg"
                    d="m70 34v12h9.5c0.47437-3.8785 0.4824-8.044 0-12z"></path>
                <path
                    d="m77.801 44.2h-5.0271"
                    style="fill:none;stroke-width:1.2;stroke:#000000"></path>
                <path
                    id="xy_ctl_down"
                    class="button lcars-golden-tanoi-bg"
                    d="m46 70h-12v9.5c3.8785 0.47437 8.044 0.4824 12 0z"></path>
                <path
                    d="m35.8 77.8v-5.0271"
                    style="fill:none;stroke-width:1.2;stroke:#000000"></path>
                <path
                    d="m11 34v12h23v23h12v-23h23v-12h-23v-23h-12v23z"
                    class="lcars-blue-bell-bg"></path>
                <path
                    d="m34 13.49h12"
                    style="fill:none;stroke-width:.75;stroke:#000000"></path>
                <path
                    d="m34 16.2h12"
                    style="fill:none;stroke-width:.75;stroke:#000000"></path>
                <path
                    d="m34 19.48h12"
                    style="fill:none;stroke-width:.75;stroke:#000000"></path>
                <path
                    d="m34 27.9h12"
                    style="fill:none;stroke-width:.75;stroke:#000000"></path>
                <path
                    d="m34 59h12"
                    style="fill:none;stroke-width:.75;stroke:#000000"></path>
                <path
                    id="xy_ctl_NW"
                    class="button lcars-husk-bg"
                    d="m32.977 33v-32.35c-15.992 2.4474-29.977 16.417-32.424 32.35z"
                ></path>
            </svg>

            <!--  END Fully inline svg style -->
        </p>
        <p>
            There are several features built-in to <a
                href="https://inkscape.org/">Inkscape</a
            >, the opensource SVG editor, that could be helpful in building some
            web-browser based behavior. While that should work fine, to keep
            this framework simple and consistent, a more basic process used to
            create the special elements was used:
            <ol>
                <li>
                    Create master edition of the "special element" as a new SVG
                    drawing file, with document sizing to match real world
                    dimensions. This edition of the SVG file will be filled with
                    guides and references, and saved in Inkscape extended SVG.
                    This way, later on, you can more easily modify and
                    regenerate new editions.
                </li>
                <li>
                    While creating all the geometry, prefer closed paths instead
                    of a variety of specific shape types for consistency in
                    source layout giving maximum flexibility for editing
                    geometry in the future, as well as query selector
                    consistency when integrating the SVG source.
                </li>
                <li>
                    Create an intermediate "publishing" copy of the the SVG
                    drawing:
                    <ul>
                        <li>Delete all guides.</li>
                        <li>
                            Move all geometry to one layer, delete any photo
                            reference layers.
                        </li>
                        <li>
                            Break up any groups where any sub-shape needs to be
                            individually clickable.
                        </li>
                        <li>
                            Unlink all object clones (which may require some
                            re-transformation and translation).
                        </li>
                        <li>
                            Assign IDs and matching labels in the "Object
                            Properties" palette (these will translate to
                            Selector-compatible html element IDs), but do not
                            end IDs with digits, padd with some kind of letter
                            if necessary.
                        </li>
                    </ul>
                </li>
                <li>
                    Save as "Optimized SVG" with these options:
                    <ul>
                        <li>Uncheck shorten color values.</li>
                        <li>
                            Uncheck convert css attributes to XML attibutes.
                        </li>
                        <li>
                            Enable pretty printing format with line breaks, but
                            use tab indentation.
                        </li>
                        <li>
                            Enable remove unused IDs, but preserve mannually
                            created IDs not ending with digits.
                        </li>
                    </ul>
                </li>
                <li>
                    Finally, manually edit the XML code of the SVG file to apply
                    class="button" to each important shape/path element that
                    needs to be clickable. These should be easily identifiable
                    as the elements with custom ID attribute values that you
                    populated in Inkscape. It would also be ideal to replace
                    fill properties in style=&quot;&quot; attributes with the
                    corresponding <a href="#colors"
                        >lcars-COLORNAME-bg CSS class membership</a
                    > (just add that name in after button, separated by a space).
                </li>
                <li>
                    When inserting the SVG XML code directly into an html5
                    document, exclude the XML doctype declaration from the SVG
                    file.
                </li>
            </ol>
        </p>
        <p>
            To add custom behavior, just use element IDs in selector expressions
            like any other html5 element; e.g.,
            <pre
                class="lcars-dodger-blue-color"
                is:raw>
document.querySelector("#xy_ctl_up").addEventListener("click", function(){ 
	yourCustomFunctionHere();
	console.log("part of the svg element was clicked!"); 
});
</pre>
        </p>
        <p>
            <svg
                width="80mm"
                height="80mm"
                version="1.1"
                viewBox="0 0 80 80"
                xmlns="http://www.w3.org/2000/svg"
            >
                <title>lcars_rectangular_array_ctl</title>
                <metadata>
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                            ></dc:type>
                            <dc:title>lcars_rectangular_array_ctl</dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g transform="translate(0,-217)">
                    <path
                        id="rect_array_ctl_top"
                        class="button lcars-golden-tanoi-bg"
                        transform="translate(0,212)"
                        d="m35 14.5h45.036v-9.4892h-80.036v7.4892h35z"></path>
                    <path
                        id="rect_array_ctl_TL"
                        class="button lcars-neon-carrot-bg"
                        transform="translate(0,212)"
                        d="m33 16.178h-33v38.822h33z"></path>
                    <path d="m8 252.63h14v9.5549h-14z" style="fill:#000000"
                    ></path>
                    <path
                        d="m35 232.99h45.036v1.9773h-45.036z"
                        style="fill:#ee9955"></path>
                    <path
                        id="rect_array_ctl_TR"
                        class="button lcars-sandy-brown-bg"
                        d="m35 237h45.047v17.002h-32.047v5.9832h-13z"></path>
                    <path
                        d="m50 258.37h30.047v1.5422h-30.047z"
                        style="fill:#ee9955"></path>
                    <path
                        d="m50 260.99h30.114v6.0146h-30.114z"
                        style="fill:#ee9955"></path>
                    <path d="m0 273h33v4.6952h-32.976z" style="fill:#ee9955"
                    ></path>
                    <path
                        id="rect_array_ctl_BL"
                        class="button lcars-sandy-brown-bg"
                        d="m0 279.56h33v17.439h-32.866z"></path>
                    <path d="m8 284.04h14v6.909h-14z" style="fill:#000000"
                    ></path>
                    <path
                        id="rect_array_ctl_BR"
                        class="button lcars-neon-carrot-bg"
                        d="m50 273h30.32v24.189h-30.32z"></path>
                    <path
                        d="m39.51 240.84h7.1208v4.2632h-7.1208z"
                        style="fill:#000000"></path>
                    <path
                        id="rect_array_ctl_center_up"
                        class="button lcars-pale-canary-bg"
                        transform="translate(0,212)"
                        d="m35 62.488h13v3.948h-13z"></path>
                    <path
                        id="rect_array_ctl_center_top"
                        class="button lcars-atomic-tangerine-bg"
                        transform="translate(0,212)"
                        d="m35 55h13v5.0063h-13z"></path>
                    <path d="m35 283.76h13v1.8313h-13z" style="fill:#ffff99"
                    ></path>
                    <path d="m35 290.3h13v1.8313h-13z" style="fill:#cc6666"
                    ></path>
                    <path
                        id="rect_array_ctl_center_down"
                        class="button lcars-chestnut-rose-bg"
                        d="m35 293.7h13v3.2865h-13z"></path>
                </g>
            </svg>
        </p>
    </div></Layout
>
