---
import Column from "../components/Column.astro";
import Divider from "../components/Divider.astro";
import Layout from "../layouts/Layout.astro";
import LTextBox from "../components/TextBox.astro";
---

<Layout title="Text Box" pageKey="text-box"
    ><Column u={7}>
        <h1 id="textbox_section">Text Box</h1>

        <Divider color="dodger-blue" />

        <span
            >Class: <pre
                class="lcars-dodger-blue-color">lcars-text-box</pre></span
        >
        <p>
            A display-only text box with pre-defined font sizes. Use to fit
            headers and indicators, but not for large texts. Also not for <a
                href="#inputs">text inputs</a
            >.

            <ul>
                <li>
                    <span
                        ><pre class="lcars-rust-color">big</pre>: font-size 150%</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">large</pre>: font-size
                        200%</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">huge</pre>: font-size
                        400%</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">centered</pre>: center
                        content horizontally</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">full-centered</pre>:
                        center content horizontally and vertically</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">right</pre>: align
                        content to the right</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">centered-right</pre>:
                        align content to the right and center vertically</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">bottom</pre>: align
                        content to the bottom</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">bottom-centered</pre>:
                        align content to the bottom and center horizontally</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">bottom-right</pre>: align
                        content to the bottom and to the right</span
                    >
                </li>
                <li>
                    <span
                        ><pre class="lcars-rust-color">blink</pre>: attention
                        demanding blinking text</span
                    >
                </li>
            </ul>
        </p>
        <h3>Example</h3>
        <LTextBox position="right" u={6}>COMMS STATUS NOMINAL</LTextBox>
        <LTextBox textSize="large" position="centered" u={6} blink
            >INCOMING TRANSMISSION</LTextBox
        >
    </Column></Layout
>
