---
import Column from "@withstudiocms/lcars-stylus/astro/components/Column.astro";
import Divider from "@withstudiocms/lcars-stylus/astro/components/Divider.astro";
import Layout from "../layouts/VoyLayout.astro";
---

<Layout title="Voyager Layout" pageKey="voy">
	<Column u={4}>
		<h1>Example Voyager layout</h1>

		<Divider color="dodger-blue" />

		<p>
			This is an example of a page using the Voyager layout, which is a
			variation of the Basic layout with a different color scheme and some
			additional decorative elements.
		</p>
	</Column></Layout
>
