---
interface Props {
    position: "right" | "left" | "top" | "bottom";
    hollow?: boolean;
}

const { position, hollow } = Astro.props;
---

<div class:list={["lcars-bracket", position, hollow && "hollow"]}>
    <slot />
</div>
