---
import type { LcarsColorway } from "../lib/colors";

interface Props {
    color?: LcarsColorway;
    button?: boolean;
    leftRounded?: boolean;
    rightRounded?: boolean;
    rounded?: boolean;
    classList?: string;
    addition?: boolean;
    u?: number | `${number}-${number}`;
}

const {
    color,
    button,
    leftRounded,
    rightRounded,
    rounded,
    classList,
    addition,
    u,
} = Astro.props;
---

<div
    class:list={[
        "lcars-element",
        color && `lcars-${color}-bg`,
        button && "button",
        leftRounded && "left-rounded",
        rightRounded && "right-rounded",
        rounded && "rounded",
        u && `lcars-u-${u}`,
        classList,
    ]}
>
    <span class="text"><slot /></span>
    {
        addition && (
            <div class="lcars-element-addition">
                <slot name="addition" />
            </div>
        )
    }
</div>
